@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*::-webkit-scrollbar {
	display: none; /* Hide the scrollbar */
}

* {
	font-family: 'Nunito', serif !important;
}

html,
body {
	height: 100vh;
	width: 100vw;
	overscroll-behavior-y: auto;
}
body {
	background-color: rgba(116, 159, 177, 0.381) !important;
	color: #81580e;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.hidden {
	display: none;
}

.booked-calendar-day {
	/* background-color: #5f8fa5 !important; */
	background-color: red !important;
	color: black !important;
	cursor: allowed;
}

.selected-booked-calendar-day {
	background-color: black !important;
	color: white !important;
	cursor: pointer;
}

.disabled-booked-calendar-day {
	background-color: red !important;
	color: #c0c0c0 !important;
	cursor: not-allowed;
}

.selected-calendar-day {
	background-color: #5f8fa5 !important;
	color: white !important;
	cursor: pointer;
}

.disabled-calendar-day {
	background-color: #c0c0c0 !important;
	color: white !important;
	cursor: not-allowed;
}


